body{
    background-image: url(bg.webp);
    background-position: center;
    background-size: cover;
}button{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100px;font-weight: bolder;
    width: 200px;
    margin-top: 630px;
    margin-left: 430px;
    border-radius: 30px;
    background-color: transparent;

}img{width: 60px;
height: 100px;
}