button{
    width: 1450px;margin-left: 20px;margin-top: 20px;
    height: 400px;
    border-radius: 30px;
    border-width: 5px;
    border-color: darkmagenta;
}body{
    background-color: yellow;
}.p1{font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;margin-top: -92px;
font-size: 98px;margin-left: -1120px;}.p2{font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bold;
margin-top: -69fpx;margin-left: -1035px;font-size: 21px;}